/* Base styles */
* {
    box-sizing: border-box;
}
body {
    background-color:var(--bg-color);
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: aliceblue;

}
:root {
    --bg-color: #212931;
    --header-color:aliceblue;
    --border-color:#444444;
    --smalltxt-color:#bbbbbd;
    --hover-color:#40a9ff;
    --input-color:#444444;
    --exercise-bg:#212931;
    --exercise-btn:#40a9ff;
}
.lightMode {
    --bg-color: aliceblue;
    --header-color:black;
    --border-color:#40a9ff;
    --smalltxt-color:black;
    --hover-color:#cfdde4;
    --exercise-bg:#40a9ff;
    --exercise-btn:#444444;
    --input-color:#cfdde4;

}



/* Navbar/Banner */
.navbar {
    background-color: #40a9ff;
    height: 200px;
    top: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 5px 5px rgb(22, 22, 22);
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:5px 100px;
}

.navbar__title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    flex-wrap: nowrap;
}

.navbar__dropdown-options{
    display: flex;
    grid-gap: 40px;
    flex-wrap: nowrap;
    align-self:flex-end;
    background-color: #40a9ff;
    font-size: 24px;
    padding: 20px 15px;
    
}
.navbar__dropdown-option {
    text-decoration: none;
    color: aliceblue;
}

.navbar__dropdown-option:hover {
    color:#444444;
    
}
.toggle {
    display: flex;
    align-self:flex-start ;
    padding-top: 50px;
}
.checkbox {
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 26px;
    opacity: 0;
}
.checkbox:checked + .checkbox__label .ball{
    transform: translateX(-33px);
}
.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 60px;
    height:26px;
    background-color: #212931;
    border-radius: 10px;
    
}
.sun {
    color: rgb(255, 216, 87);
    padding: 5px;
}
.moon {
    color: 	#b7cbd9;
    padding: 5px;
}
.ball {
    background-color: aliceblue ;
    height: 22px;
    width: 22px;
    position:absolute;
    top: 2;
    right: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}


/* Hompage styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    grid-gap: 10%;
    margin: auto;
    
}

.container__btn {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #40a9ff;
    border-radius: 10%;
    border-color: #40a9ff;
    box-shadow: 2px 2px 5px black;
    text-decoration: none;
    text-align: center;
    
}

.container__btn-txt {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    text-decoration: none;
    
}

.container__btn-icon {
    color: aliceblue;
    font-size: 100px;
    padding-bottom: 20px;
}
.container__line {
    background-image: linear-gradient( rgba(158, 157, 157, 0), rgba(64, 169, 255), rgba(0, 0, 0, 0));
    height: 1000px;
    width: 2px;
    opacity: 0.5;
    position: absolute;
    left: 50%;
}

/* New Workout page */

.myWorkout {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    max-width: 600px;
    width:100%;
    height: 100%;
    grid-gap: 70px; 
    margin: auto;
    margin-top: 400px;
}
.buttons {
    display:flex;
    width:100%;
    grid-gap: 5%;
    margin: 0;
    padding: 0;
}
.routine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       

}
.workoutName {
    display: flex;
    margin: auto;
    font-size: 50px;
    background-color: transparent;
    border:none;
    color: var(--header-color);
    text-align:start;
}
.readExercise {
    color: var(--smalltxt-color);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding-bottom: 30px;
    opacity:0;
    

}
.readExercise__name{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #40a9ff;
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}
.readExercise__set {
    display: flex ;
    grid-gap: 100px;
}
.readExercise__line {
    border: 0;
    height: 1px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(158, 157, 157, 0), rgba(238, 235, 235, 0.75), rgba(0, 0, 0, 0));
    margin-top: 60px;
}
.dropdown {
    color: #40a9ff;
    background-color: transparent ;
    border: none;
    font-size: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top:30px;
    left: 420px;
    cursor: pointer;

    
}
.dropdown__options{
    flex-direction: column;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left:20px;
    top: -10px;
    width: 200px;
    height: fit-content;
    border-radius: 5px;
    color:var(--smalltxt-color);
    display: flex;
    visibility: hidden;
    transition: 100ms ease-in, transform 100ms ease-in-out;
    transform: translateX(-10px);
    background-color: #212931;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
.dropdown__options-line{
    width: 80%;
    border: none;
    background-color: #bbbbbd;
    height: 2px;
    opacity: .1;
    justify-content: flex-start; 
 } 

.dropdown__options-option{
    padding: 20px;  
}
.dropdown__options-option:hover {
    color: aliceblue;
}
.dropdown:focus {
    outline: none;
}

.dropdown:focus > .dropdown__options{
    visibility: visible;
    transform: translateX(0);
}

.label {
    color: var(--header-color);
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--smalltxt-color);
}
.setLabel{
    color: #40a9ff;
    font-weight: 600;
}
/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: fixed;
    margin: 0;
    top: 0;
    /* transition: 0.3s ease;
    opacity: 0;
    pointer-events: none; */
    visibility: hidden;
}
.show {
    visibility: visible;
}
.modal__bg {
    background-color: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:2;
}
.exercise {
    position: relative;
    z-index:2;
    background-color:var(--exercise-bg);
    padding: 30px 60px;
    border-radius: 12px;
}
.exercise__buttons {
    display: flex ;
    grid-gap: 30px;
    align-items: center;
    margin-top: 30px;
}
.exercise__removeset {
    font-size: 18px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.exercise__removeset > p{
    color: var(--exercise-btn);
    opacity: 1;
    margin:0;
    font-weight: 500;
}
.exercise__addset {
    font-size: 18px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.exercise__addset > p{
    color: var(--exercise-btn);
    opacity: 1;
    margin:0;
    font-weight: 500;
}
.exercise__cancel {
    font-size: 22px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: red;
}
.exercise__addtoworkout {
    font-size: 20px;
    border-radius: 5px;
    padding: 0;
    margin-left: auto;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: greenyellow;
}
.exercise__name {
    text-align: center;
    height: 50px;
}
.exercise__set {
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
    width:100%;
}
.exercise__name >input {
    font-size: 20PX;
    border-radius: 5px;
    background-color: var(--input-color);
    width: 100%;
    color: #bbbbbd;
    text-align: center;
    padding: 5px;
}
.exercise__set > div > input {
    width: 150px;
    border-radius: 5px;
    background-color: var(--input-color);
    height: 25px;
    color: #bbbbbd;
    text-align: center;
    padding: 5px;
}
.addexercise {    
    color: #40a9ff ;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.addexercise:hover {
    color: var(--header-color);
}
.save {    
    color: #40a9ff ;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none; 
}
.save:hover {
    color: var(--header-color);
}

/* Saved workouts */

.link{
    text-decoration: none;
}
.myWorkout > a {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}
.workout {
    opacity: 0;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    color: var(--header-color);
    border: 3px solid var(--border-color);
    border-radius: 12px;
    cursor: pointer;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
   
}
.workout:hover {
    background-color: var(--hover-color);
}
.workout__name {
    font-weight: 600;
    color: var(--header-color);
    font-size: 30px;
}
.workout__date {
    font-size: 16px;
    color: var(--smalltxt-color);
    padding-bottom: 20px;
}
.workout__volume-header{
    font-weight: 600;

}

.workout__volume-count {
    padding-left: 20px;
    color: var(--smalltxt-color);
    padding-bottom: 10px;
}

.exerciseCompressed {
    display:flex;
    justify-content: space-between;
}
.exerciseCompressed__exercise-header{
    font-weight: 600;
}
.exerciseCompressed__exercise-info{
    color: var(--smalltxt-color);
}

.exerciseCompressed__volume-header {
    font-weight: 600;
}
.exerciseCompressed__volume-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--smalltxt-color);
}


.myWorkout__Name {
    display: flex;
    margin: auto;
    font-size: 50px;
    background-color: transparent;
    border:none;
    color: var(--header-color);
    text-align:start;
}
.myWorkout__date {
    font-size: 20px;
    font-weight: 300;
    color: var(--smalltxt-color);
}
.buttons{
    justify-content: flex-start;
    padding-bottom: 50px;
    
}
.removeWorkout {
    color: red ;
    border-radius: 5px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none; 
}
.createNew {
width: 1000px;
opacity: 0;
color:var(--header-color);
text-decoration: none;
font-size:80px;
}

@media screen and (max-width: 900px) {
    body{
        max-width: 100vw;
    }
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        max-width: 100vw;
        padding: 5px 10px;
    }
    .navbar__dropdown-options{
        grid-gap: 20px;
        align-self: center; 
        justify-content: flex-end;
    }
    .navbar__dropdown-option{
        font-size: 20px;
       
    
    }
    .toggle{
        position:fixed;
        padding-top: 0;
        top:20px;
        right: 20px;
    }

    .navbar__title{
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding-top: 70px;
    }
    .container__btn{
        max-width: 150px;

    }
    .container__btn-txt {
        font-size: 25px;

    }
    .container__btn-icon {
        font-size: 50px;
    }
    .myWorkout{
        margin-top: 250px;
        max-width: 100%;
        align-items: center;
    }
    .workout {
        max-width: 300px;
    }
    .workoutName{
        max-width: 300px;
    }
    .buttons{
        padding: 20px;
        max-width: 100%;
        justify-content: center;
    }
    .exercise {
        max-width: 80%;
    }
    .exercise__set > div > input {
        width: 100%;
    }
    .exercise__buttons{
        width: 100%;
        grid-gap: 15px;
        justify-content: center;
    }
    .routine {
        width: 100%;
        justify-content: center;
    }
    .readExercise{
        width: 100%;
        justify-content: center;
    }
    .readExercise__name{
        justify-content: center;
        width: 100%;
    }
    .readExercise__set{
        width: 100%;
        justify-content: center;
        grid-gap: 50px;
    }
    .dropdown{
        left:50px;
        top:22px;
        
    }
}  
